
<br>
<br>
<br>
<div  style="background-image: url(/assets/img/playstory.jpg)">
  <section class="destaques">
    <div class="destaques__principal caixa"></div>
    <div class="destaques__secundario caixa">
      <div class="texto" style="margin-top: 20cm">
        <h1>whatsapp menssenger</h1>
        <h3>WhatsApp LLC Comunicação</h3>
        <h4>
          <i class="fas fa-bookmark"></i>
          adiciorar a lista de desejo
        </h4>
        <h4>
        <i class="fas fa-award">
        </i>
        Escolha dos editores
         </h4>
        <h5>
          <i class="fas fa-star" id=star></i>
          <i class="fas fa-star" id=star></i>
          <i class="fas fa-star" id=star></i>
          <i class="fas fa-star" id=star></i>
          <i class="far fa-star" id=star></i>
          144 220 995
          <i class="fas fa-user"></i>
        </h5>
        <h4>
          <i class="fas fa-info-circle" id="circle"></i>
          Este app está diaponivel para o teu dispositivo
        </h4>

          <div id="botao-wrapper">
          <button class="btn waves-effect waves-light " id="botao"
          type="submit" name="action">
          <i class="fas fa-download"></i>
          Download
        </button>
      </div>
    </div>
  </div>
 </section>

 <section class="">
   <div class="carousel">
     <owl-carousel-o [options]="customOptions">
       <ng-template carouselSlide>
         <img src="../../assets/img/whatsapp1.png" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="../../assets/img/whatsapp3.png" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="../../assets/img/whatsapp2.png" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="../../assets/img/whatsapp1.png" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="../../assets/img/whatsapp4.png" alt="" srcset="">
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
  <div class="container">
    <h6>
O WhatsApp do Facebook é uma aplicação GRATUITA de mensagens e videochamadas. É utilizado por mais de 2 mil milhões de pessoas em mais de 180 países. É simples, fiável e privado, permitindo-lhe manter facilmente o contacto com amigos e familiares. O WhatsApp pode ser utilizado no telemóvel e no computador, mesmo em ligações lentas, sem taxas de subscrição\*.
**Mensagens privadas em todo o mundo**
As suas mensagens pessoais e chamadas para amigos e familiares são encriptadas ponto a ponto. Ninguém fora das suas conversas as pode ler ou ouvir, nem mesmo o WhatsApp.
**Ligações simples e protegidas, sem demoras**
Não precisa de inserir o nome de utilizador nem de iniciar sessão, basta o seu número de telemóvel. Pode ver rapidamente os seus contactos no WhatsApp e começar a enviar mensagens.
**Chamadas de voz e videochamadas de alta qualidade**
Faça videochamadas e chamadas de voz protegidas com um máximo de 8 pessoas gratuitamente\*. Pode fazer chamadas em dispositivos móveis utilizando o serviço de Internet do telemóvel, mesmo em ligações lentas.
**Conversas em grupo para manter o contacto**
Mantenha-se em contacto com os amigos e familiares. As conversas em grupo encriptadas ponto a ponto permitem partilhar mensagens, fotografias, vídeos e documentos no telemóvel e no computador.
**Mantenha-se em contacto em tempo real**
Partilhe a sua localização apenas com os contactos na sua conversa individual ou em grupo e deixe de partilhar a qualquer momento. Ou grave uma mensagem de voz para um contacto mais rápido.
**Partilhe momentos do quotidiano através do Estado**
O Estado permite partilhar atualizações utilizando texto, fotografias, vídeos e GIF que desaparecem ao fim de 24 horas. Pode optar por partilhar publicações do estado com todos os seus contactos ou apenas com contactos selecionados.
\*Podem aplicar-se encargos com dados. Para mais informações, contacte a sua operadora móvel.
---------------------------------------------------------
Se quiser fazer algum comentário ou esclarecer alguma questão, aceda a **WhatsApp** > **Definições** > **Ajuda** > **Contacte-nos**

    </h6>
  </div>
</div>
<footer class="rodape">
  <i class="far fa-copyright"></i>
  copyright: cristiano kituxi
</footer>
