
#login{
  margin-right: 15cm;
}
.rodape {
  background: #fdfdfd;
  color: #333333;
  font-size: .8rem;
  grid-area: rodape;
  padding: 1rem;
  text-align: center;
}

.cabecalho {
  align-items: center;
  display: flex;
  grid-area: cabecalho;
  padding: 0 2rem;

}
.menu__link {
  color: #ffffff;
  padding: .5rem 1rem;
}
.menu__link:hover, .menu__link.ativo {
  border-bottom: 2px solid #0073e6;
}
.app2{
  background: #e7ddddd5;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}
