<main class="conteudo" style="background-image: url(/assets/img/playstory.jpg) ; ">
<div class="populares__conteudo">
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/fortnite.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">Fornite</h5>
              <time class="populares__card___data" datetime="2017-07-25">25/07/2017</time>
          </div>
          <div class="populares__card___descricao">
              Fortnite é um jogo eletrônico online criado em 2017, desenvolvido pela Epic Games, e
              lançado como diferentes pacotes de software com diferentes modos de jogo que
              compartilham a mesma jogabilidade e motor gráfico de jogo.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/pubg.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">PUBG</h5>
              <time class="populares__card___data" datetime="2017-03-23">23/03/2017</time>
          </div>
          <div class="populares__card___descricao">
              PlayerUnknown's Battlegrounds, ou somente Battlegrounds, é um jogo eletrônico
              multiplayer desenvolvido pela PUBG Corp., subsidiária da produtora coreana Bluehole,
              utilizando o motor de jogo Unreal Engine 4
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/cs-go.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">CS: GO</h5>
              <time class="populares__card___data" datetime="2012-08-21">21/08/2012</time>
          </div>
          <div class="populares__card___descricao">
              Counter-Strike: Global Offensive é um jogo online desenvolvido pela Valve Corporation e
              pela Hidden Path Entertainment, sendo uma sequência de Counter-Strike: Source. É o
              quarto título principal da franquia.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/lol.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">League of Legends</h5>
              <time class="populares__card___data" datetime="2009-10-27">27/10/2009</time>
          </div>
          <div class="populares__card___descricao">
              League of Legends é um jogo eletrônico do gênero multiplayer online battle arena,
              desenvolvido e publicado pela Riot Games para Microsoft Windows e Mac OS X. É um jogo
              gratuito para jogar e inspirado no modo Defense of the Ancients de Warcraft III: The
              Frozen Throne.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/gta-v.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">Grand Theft Auto V</h5>
              <time class="populares__card___data" datetime="2013-09-17">17/09/2013</time>
          </div>
          <div class="populares__card___descricao">
              Grand Theft Auto V é um jogo eletrônico de ação-aventura desenvolvido pela Rockstar
              North e publicado pela Rockstar Games.
          </div>
      </div>
  </div>
</div>
<div class="populares__conteudo">
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/fortnite.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">Fornite</h5>
              <time class="populares__card___data" datetime="2017-07-25">25/07/2017</time>
          </div>
          <div class="populares__card___descricao">
              Fortnite é um jogo eletrônico online criado em 2017, desenvolvido pela Epic Games, e
              lançado como diferentes pacotes de software com diferentes modos de jogo que
              compartilham a mesma jogabilidade e motor gráfico de jogo.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/pubg.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">PUBG</h5>
              <time class="populares__card___data" datetime="2017-03-23">23/03/2017</time>
          </div>
          <div class="populares__card___descricao">
              PlayerUnknown's Battlegrounds, ou somente Battlegrounds, é um jogo eletrônico
              multiplayer desenvolvido pela PUBG Corp., subsidiária da produtora coreana Bluehole,
              utilizando o motor de jogo Unreal Engine 4
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/cs-go.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">CS: GO</h5>
              <time class="populares__card___data" datetime="2012-08-21">21/08/2012</time>
          </div>
          <div class="populares__card___descricao">
              Counter-Strike: Global Offensive é um jogo online desenvolvido pela Valve Corporation e
              pela Hidden Path Entertainment, sendo uma sequência de Counter-Strike: Source. É o
              quarto título principal da franquia.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/lol.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">League of Legends</h5>
              <time class="populares__card___data" datetime="2009-10-27">27/10/2009</time>
          </div>
          <div class="populares__card___descricao">
              League of Legends é um jogo eletrônico do gênero multiplayer online battle arena,
              desenvolvido e publicado pela Riot Games para Microsoft Windows e Mac OS X. É um jogo
              gratuito para jogar e inspirado no modo Defense of the Ancients de Warcraft III: The
              Frozen Throne.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/gta-v.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">Grand Theft Auto V</h5>
              <time class="populares__card___data" datetime="2013-09-17">17/09/2013</time>
          </div>
          <div class="populares__card___descricao">
              Grand Theft Auto V é um jogo eletrônico de ação-aventura desenvolvido pela Rockstar
              North e publicado pela Rockstar Games.
          </div>
      </div>
  </div>
</div>
<div class="populares__conteudo">
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/fortnite.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">Fornite</h5>
              <time class="populares__card___data" datetime="2017-07-25">25/07/2017</time>
          </div>
          <div class="populares__card___descricao">
              Fortnite é um jogo eletrônico online criado em 2017, desenvolvido pela Epic Games, e
              lançado como diferentes pacotes de software com diferentes modos de jogo que
              compartilham a mesma jogabilidade e motor gráfico de jogo.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/pubg.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">PUBG</h5>
              <time class="populares__card___data" datetime="2017-03-23">23/03/2017</time>
          </div>
          <div class="populares__card___descricao">
              PlayerUnknown's Battlegrounds, ou somente Battlegrounds, é um jogo eletrônico
              multiplayer desenvolvido pela PUBG Corp., subsidiária da produtora coreana Bluehole,
              utilizando o motor de jogo Unreal Engine 4
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/cs-go.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">CS: GO</h5>
              <time class="populares__card___data" datetime="2012-08-21">21/08/2012</time>
          </div>
          <div class="populares__card___descricao">
              Counter-Strike: Global Offensive é um jogo online desenvolvido pela Valve Corporation e
              pela Hidden Path Entertainment, sendo uma sequência de Counter-Strike: Source. É o
              quarto título principal da franquia.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/lol.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">League of Legends</h5>
              <time class="populares__card___data" datetime="2009-10-27">27/10/2009</time>
          </div>
          <div class="populares__card___descricao">
              League of Legends é um jogo eletrônico do gênero multiplayer online battle arena,
              desenvolvido e publicado pela Riot Games para Microsoft Windows e Mac OS X. É um jogo
              gratuito para jogar e inspirado no modo Defense of the Ancients de Warcraft III: The
              Frozen Throne.
          </div>
      </div>
  </div>
  <div class="populares__card">
      <img class="populares__card___imagem" src="./assets/img/gta-v.jpg">
      <div class="populares__card___corpo">
          <div class="populares__card___cabecalho">
              <h5 class="populares__card___titulo">Grand Theft Auto V</h5>
              <time class="populares__card___data" datetime="2013-09-17">17/09/2013</time>
          </div>
          <div class="populares__card___descricao">
              Grand Theft Auto V é um jogo eletrônico de ação-aventura desenvolvido pela Rockstar
              North e publicado pela Rockstar Games.
          </div>
      </div>
  </div>
</div>
</main>
<footer class="rodape">
  <i class="far fa-copyright"></i>
  copyright: cristiano kituxi
</footer>
